@keyframes tomberRebondir {
    0% {
        transform: translateY(-100%);
        animation-timing-function: ease-in;
    }
    70% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    80% {
        transform: translateY(-15%);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-7%);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.rebond img {
    animation: tomberRebondir 2s ease-in-out;
}
